<div class="todo-item">
  <p class="title">{{title}}
    <br>
    Is Completed: {{isComplete()}}
    <br>
    Status: {{staus}}
  </p>
  <h4 *ngIf="isComplete(); else Message">
    Task is Completed Successfully
  </h4>
  <ng-template #Message>
    <h4>Task Need To be Completed</h4>
  </ng-template>
  <h4 *ngIf="!isComplete()">
    Task is pending... Need to be completed
  </h4>
  <input type="text" id="inputBox" [(ngModel)]="inputValue" (keyup)="updateDisplay()" />  
  <h4 id="show">{{ displayValue}}</h4>
  <button type="button" [disabled]="buttonDisable()" (click)="toggleCompleted() ">Completed</button>
  <button type="button" [disabled]="!buttonDisable()" (click)="toggleCompleted()">Not Completed</button>
</div>